.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/
.DS_Store
/build
/captures
/classes
/gradle*
/out*


### STS ###
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

